body {
  background: #e0ffcd;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color:#f8b400;
}

.search-input{
  background-color: #f9f7fe
  border:none;
  border-radius:10px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.weather-app {
  background:azure ;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(87, 232, 107) 100.2% ;
}

header {
  border-bottom: 1px solid  rgb(64, 64, 64) 90.2%;
  padding-bottom: 30px;
}
.search-form {
  background-color:azure ;
  border: none;
  color:rgb(86, 255, 248) 78.4%;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color:cyan;
  color: rgb(255, 67, 5) 11.1%;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}



.current-temperature {
  font-size: 48px;
  top: 200px;
  position: absolute;
  right:500px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 100px;
  color: rgba(39, 33, 66, 0.4);
}
.weekday{
color:aqua;
display:flex;
}
.week-temparature{
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display:block;
  margin-bottom: 20px;

}
#week-temparatures{
   padding: 0 10px;
}
.week-icon{
   font-size: 38px;
  text-align: center;
}
.week-temparature{
  text-align: center;
  color:#f65282;
}
.weekday-forecast{
  display:flex;
  justify-content:space-evenly;
  margin-top: 10px;

}